* {
  margin: 0;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}



.side {
  grid-row: 1 / span 2;
  background-color: #141b31;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.side h1 {
  font-size: 30px;
  margin: 25px 0 25px 15px;
}

.side h3 {
  font-size: 17px;
  margin: 30px 0 10px 15px;
}

.side ol {
  margin-left: -10px;
  margin-right: 20px;
}

.side ol li {
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.containerVideo {
  background-color: darkkhaki;
  width: 100%;
}

.coments {
  background-color: darksalmon;
  width: 100%;
}

.amigos img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.amigos {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.amigos span {
  margin-left: 10px;
}