* {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  box-shadow: 4px 3px 2px gray;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header .header__logo {
  margin-top: 12px;
  margin-left: 30px;
  width: 150px;
}

.header .header__logo img {
  margin-top: 0px;
  margin-left: 15px;
  width: 57px;
  margin-bottom: 11px;
}

.header .header__search input{
  height: 27px;
  width: 75%;
  padding-left: 5px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid #a8a6ae;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header .header__search input:focus {
  border: none;
}

.header .header__user-date {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.container {
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: 100%;
}

.container .sidebar {
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.container .sidebar .home {
  margin: 40px 10px 25px 20px;
}

.container .sidebar .trending {
  margin: 20px 10px 25px 20px;
}

.container .sidebar .likes {
  margin: 20px 10px 25px 20px;
}

.container .movies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.movies-title {
  margin: 25px 0 0 65px;
}
.container .movies .board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
}

.container .movies .board .movie-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 40px 1fr 40px 1fr 40px 1fr; */
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 5px 5px;

}

.container .movies .board2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
}

.container .movies .board2 .movie-board2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 5px 5px;

}

.container .movies .board3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
}

.container .movies .board3 .movie-board3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 5px 5px;

}

/* .container .movies .board:nth-of-type(1) {
  grid-column: 1 / span 3;
} */

.movie {
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie .description {
  margin-top: -130px;
  padding: 15px 0 29px 0;
  background: rgba(233, 4, 4, 0.5);
  height: 82px;
  width: 100%;
  position: relative;
  color: white;
  
}

.movie .description h3 {
  font-size: 22px;
  font-family: 'Muli';
  padding-left: 10px;
}

.movie .description p {
  font-size: 14px;
  font-family: 'Muli';
  padding-left: 10px;
  padding-right: 10px;
}